main {
    width: 100%;
    min-height: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/win7-background.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.context-menu {
    position: fixed;
}

.context-menu li {
    cursor: pointer;
}

