<div class="window active" style="width: 20vw" [style.z-index]="zIndex" #windowDiv>    <div class="title-bar" (mousedown)="onTitleBarMouseDown($event)">
        <div class="title-bar-text">{{ titleBarText }}</div>
        <div class="title-bar-controls">
            <button *ngIf="type == WindowType.STANDARD" aria-label="Minimize"></button>
            <button *ngIf="type == WindowType.STANDARD" aria-label="Maximize"></button>
            <button *ngIf="type == WindowType.HELP" aria-label="Help"></button>
            <button aria-label="Close"></button>
        </div>
    </div>
    <div class="window-body has-space">
        <ng-content></ng-content>

        

        <button class="default">OK</button>
        <button>Cancel</button>   
    </div>
</div>